{% extends 'meokjeul/base.html' %}
{% load static %}
{% block content %}
    {% if not items %}
        <h3 style="text-align: center">검색 결과가 없습니다.</h3>
    {% else %}
<div class="container">
        {% for item in items.all %}
        <div class="row restaurant-item" style="margin:20px auto;">
        <div class="col-sm-12">
            <div class="card border-secondary">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ item.address }}</h6>
                    <p class="card-text">리뷰: {{ item.reviews_count }}개,
                        {% if item.average_point == None %}<span>평점없음</span>{% endif %}
                        {% if item.average_point != None %}<span>{{ item.average_point }}점</span>{% endif %}</p>
                    <a href="{% url 'restaurant-detail' id=item.id %}" class="card-link">자세히 보기</a>
                    <a href="{% url 'restaurant-update' %}?id={{ item.id }}" class="card-link">수정하기</a>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}